<div style="background-color: yellow; height: 10px; margin-top: 80px;"></div>
<div  style="background-color: #000000e6;color: white;padding-top:50px; padding-bottom:40px;width: 100%;">
<footer class="container">
	<div class="row">
		<div class="col-sm-5">
			<h2 style="color:yellow;">About Us</h2>
			<p>FedChoice bank was founded on 14th june 2016 with the objective of providing
				with the detail services based on the Retail banking operations. The Retail Internet Banking of FedChoice Bank offers a plethora of products and services, to cater its customer by providing certain animus services with an easy volving offers and ways to do the required job without hurdling the process.</p>
		</div>
		<div class="col-sm-3">
			<h2 style="color: yellow;">Services</h2>
			<p>Retail and Customer Banking</p>
			<p>Personal Internet Banking</p>
			<p>Corporate Internet Banking</p>
			<p>Debit and Credit Cards</p>
		</div>
		
	</div>
</footer>
</div>